# Finder files (macOS)
.DS_Store

# Build products
src/Revision.cc
newserv

# CMake files
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CTestTestFile.cmake
CTestTestfile.cmake
install_manifest.txt
Makefile
Testing

# Files modified by the user and/or server that don't have defaults
system/config.json
system/ep3/battle-records/*.mzrd
system/ep3/tournament-state.json
system/licenses.nsi
system/licenses/*.json
system/players/*.psochar
system/players/*.psosys
system/players/*.psocard
system/players/*.nsc
system/players/*.nsa
system/teams/*.json
system/teams/*.bmp
system/patch-pc/.metadata-cache.json
system/patch-bb/.metadata-cache.json

# Files fuzziqersoftware uses that don't make sense to be committed to the main
# repository
files
make_release.py
old-khyller
old-newserv
release
release.zip
system/patch-bb/data
system/patch-bb/psobb.pat
system/dol
