# Finder files (macOS)
.DS_Store

# Build products
newserv
src/Revision.cc

# CMake files
build
cmake_install.cmake
CMakeCache.txt
CMakeFiles
CTestTestfile.cmake
CTestTestFile.cmake
install_manifest.txt
Makefile
Testing

# Files modified by the user and/or server that don't have defaults
system/config.json
system/ep3/battle-records/*.mzr
system/ep3/battle-records/*.mzrd
system/ep3/tournament-state.json
system/licenses.nsi
system/licenses/*.json
system/patch-bb/.metadata-cache.json
system/patch-pc/.metadata-cache.json
system/players/*.nsa
system/players/*.nsc
system/players/*.psobank
system/players/*.psocard
system/players/*.psochar
system/players/*.psosys
system/teams/*.bmp
system/teams/*.json

# Files fuzziqersoftware uses that don't make sense to be committed to the main
# repository
*.dec
files
make_release.py
notes-private
old-khyller
old-newserv
release
release.zip
system/dol
system/patch-bb/data
